[Unit]
Description=ACAO Meteo
Wants=
After=network.target

[Service]
Type=notify

User=yggdra
Group=yggdra

ExecStart=/usr/local/bin/acao_billboard

Restart=always

TimeoutStartSec=15
WatchdogSec=10

[Install]
WantedBy=multi-user.target
